/*區塊*/
body{
    margin: 0;
    color: #ffffff;
    background: #111823;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 10%;padding-right: 10%;padding-bottom: 10%;
}
.nav{
    position: sticky;top: 10px;
    height: 60px;
    padding-right:10%;padding-left: 10%;
    align-items: center;justify-content: right;
    display: flex;
    font-size: 18pt;
    backdrop-filter: blur(5px);
    z-index: 15;
}
.nav-container{
    display: flex;
    gap: 20px;
}
#header{
    height: 650px;
    overflow: visible;
}
#about_us{
    margin-bottom: 200px;
}
#working{
    margin-top: 150px;margin-bottom: 150px;
    height: auto;
    display: flex;
    flex-direction:row;
}
.working_container{
    margin-left: 15%;margin-right: 15%;margin-top: 10px;
    color: #f5f2f1;
}
#members{
    margin-top: 100px;margin-bottom: 150px;
    height: auto;
    align-items: center;
    display: flex;flex-direction: column;
}
.members_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* 調整為你想要的間距 */
    width: 100%;
}
.members_div {
    width: 200px;
    height: auto;
}
.personal_web_box{
    border: white 0.5px solid;
    border-radius: 5px;
    width: 50%;
    margin-left: 10px;margin-top: 10px;
    text-align: center;
    transition: margin-left 0.3s ease;
}
.personal_web_box:hover {
    margin-left: 20px; /* 滑鼠移上去向右滑動 */
}
#news{
    margin-top: 100px;margin-bottom: 100px;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.news-container{
    gap: 70px;
    display: flex;flex-direction: row;
}
.news-div{
    height: 200px;width: 200px;
    border: white solid 1px;
}
footer{
    height: 300px;
    display: flex;
    gap: 100px;padding-left: 100px;
}
/*文字*/
.title{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}
.header_title{
    font-size: 180px;
    position: sticky;
    top: 20px;
}
.about_us_title{
    padding-left: 10%;
    padding-top: 50px;
    position: sticky;
    top: 70px;
}
.about_us_description{
    margin-left:40%;width:60%
}
.working_title {
    margin-bottom: 30px;margin-left: 0;
    transition: margin-left 0.3s ease; /* 平滑動畫 */
}
.working_title:hover {
    margin-left: 20px; /* 滑鼠移上去向右滑動 */
}
.members_title{
    position: relative;
    margin-bottom: 100px;
    top: 30px;
}
.members_conact{
    margin-left: 18px;margin-top: 20px;
    line-height: 1.6;
}
.news-title{
    margin-bottom: 100px;  
}
.footer_conact{
    margin-top: 20px;
    line-height: 1.6;
}
.conact{
    font-size: 20px;
    line-height: 2;
}
/*圖片*/
.header_img{
    position: absolute;top:100px;right: 100px;
    width: 1000px;height: 600px;
    }
.working_img{
    width: 50%;
    height: auto;
}
.members_img{
    height: 250px;
    width: 200px;
    position: sticky;
    top:0;
    border-radius: 10px;
}
a:link{color: #f5f2f1;text-decoration:none}
a:active{color: #f5f2f1}
a:visited{color: #f5f2f1}
/*平板設定*/
@media(max-width:1250px){
    /*區塊*/
    .nav{
        font-size: 12pt;
    }
    .working_container{
        margin-left: 10px;
    }
    /*文字*/
    .conact{
        font-size: 18px;
    }
    /*圖片*/
    .working_img {
        width: 40%;
        height: 40%;
    }
}

/*手機設定*/
@media(max-width:500px){
    /*區塊*/
    .nav{
        font-size: 12pt;
    }
    #working{
        flex-direction: column;
    }
    footer{
        gap: 50px;padding-left: 50px;
    }
    /*文字*/
    .header_title{
        font-size: 100pt;
    }
    .about_us_title{
        position: relative;top: 0;
        padding:0;
    }
    .about_us_description{
        margin-left:0;width:100%
    }
    .working_container{
        margin:0;
    }
    .conact {
        font-size: 15px;
    }
    /*圖片*/
    .header_img{
        position: absolute;top:200px;right: 40px;
        width: 100%;height: auto;
    }
    .working_img{
        width: 100%;
    }
}