/*區塊*/
body{
    margin: 0;
    color: aliceblue;
    background: #0b0b0b;
}
.header{
    height: 650px;
    overflow: visible;
    padding-left: 50px;
}
.about_us{
    padding: 50px;
    margin-bottom: 300px;
    z-index: 10;
}
.working{
    height: auto;
    display: flex;
    flex-direction:row;
}
.working_container{
    margin-left: 15%;margin-right: 15%;margin-top: 10px;
    color: #f5f2f1;
}
.members{
    margin-top: 200px;
    height: auto;
    align-items: center;
    display: flex;flex-direction: column;
}
.members_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* 調整為你想要的間距 */
    width: 100%;
}
.members_div {
    width: 200px;
}
.works{
    height: 500px;
    border: #0b0b0b 1px solid;
}
footer{
    height: 300px;
    display: flex;
    background: aliceblue;
    color: #0b0b0b;
}
.footer_div{
    margin-top: 50px;
    margin-left: 100px;
}
/*文字*/
.title{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.header_title{
    font-size: 180px;
    position: sticky;
    top: 20px;
}
.about_us_title{
    font-size: 50px;
    position: sticky;
    top: 50px;
}
.working_title {
    font-size: 50px;
    margin-bottom: 20px;margin-left: 0;
    transition: margin-left 0.3s ease; /* 平滑動畫 */
}
.working_title:hover {
    margin-left: 20px; /* 滑鼠移上去向右滑動 */
}
.members_title{
    font-size: 50px;
    position: relative;
    margin-bottom: 100px;
    top: 30px;
}
.members_conact{
    font-size: 20px;
    margin-left: 18px;margin-top: 20px;
    line-height: 1.6;
}
.footer_conact{
    margin-top: 20px;
    line-height: 1.6;
}
.conact{
    font-size: 20px;
    line-height: 2;
}
/*圖片*/
.working_img{
    width: 50%;
    height: auto;
}
.members_img{
    height: 250px;
    width: 200px;
    position: sticky;
    top:0;
    border-radius: 10px;
}
a:link{color: #0b0b0b;text-decoration:none}
a:active{color: #0b0b0b}
a:visited{color: #0b0b0b}
/*平板設定*/
@media(max-width:1250px){
    .working_container{
        margin-left: 10px;
    }
}

/*手機設定*/
@media(max-width:500px){
    .working{
        flex-direction: column;
    }
    .working_img{
        width: 100%;
    }
}