body {
    font-family: sans-serif;
    padding: 2em;
    background: #14324e;
    color: #14324e;
}

h1 {
    margin: 0 0 20px 0;
    color: #ffffff;
}

a:link {
    color: #ffffff;
    text-decoration: none
}

#log-list button {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    width: 150px;
    height: 40px;
    padding: 1em;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#log-list button.active {
    background-color: #bbd4ce;
    color: #14324e;
}

#log-detail {
    margin-left: 2em;
    padding: 2em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#log-detail small {
    color: #6c7691;
    font-size: 0.9em;
}