body {
    font-family: sans-serif;
    padding: 2em;
    background: #f9f9f9;
}
h1 { margin-bottom: 1em; }
#log-list button {
    display: flex;flex-direction: column;
    margin:0 0 20px 0;
    width: 150px;height: 40px;
    padding:1em;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#log-list button.active {
    background-color: #333;
    color: white;
}
#log-detail {
    margin-left: 2em;
    padding: 1em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#log-detail h2 {
    margin-bottom: 0.5em;
}
#log-detail small {
    color: #666;
    font-size: 0.9em;
}