/*區塊*/
body{
    margin: 0;
    color: aliceblue;
    background: #0b0b0b;
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.header{
    height: 600px;
    overflow: visible;
    padding-left: 10%;
}
.nav{
    position: sticky;top: 10px;
    height: 60px;
    padding-right:30px;
    justify-content: right;align-items: center;
    display: flex;
    gap: 20px;
    font-size: 18pt;
    backdrop-filter: blur(5px);
    z-index: 15;
    border: #f5f2f1 0.8px solid;
}
#about{
    padding: 10%;
}
#character{
    text-align: right;
    padding: 10%;
}
#world{
    padding: 10%;
}
#news{
    padding: 10%;
    display: flex;justify-content: center;
    gap: 70px;
}
.news-div{
    height: 200px;width: 200px;
    background: darkseagreen;
}
footer{
    height: 300px;
    display: flex;
    background: aliceblue;
    color: #0b0b0b;
}
.footer_div{
    margin-top: 50px;
    margin-left: 100px;
}
/*文字*/
.header_title{
    font-size: 100px;
    position: sticky;
    top: 80px;
    z-index: 10;
}
.footer_conact{
    margin-top: 20px;
    line-height: 1.6;
}
.conact{
    font-size: 20px;
    line-height: 2;
}
/*圖片*/
.mainc{
    position: absolute;
    top:0;
    left: 50%;
}
a:link{color: #0b0b0b;text-decoration:none}
a:active{color: #0b0b0b}
a:visited{color: #0b0b0b}