/*區塊*/
body{
    margin: 0;
    color: aliceblue;
    background: #0b0b0b;
}
.header{
    height: 650px;
    overflow: visible;
    padding-left: 50px;
    z-index: 0;
}
.about_us{
    padding: 50px;
    margin-bottom: 300px;
    z-index: 10;
}
footer{
    height: 300px;
    display: flex;
    background: aliceblue;
    color: #0b0b0b;
}
.footer_div{
    margin-top: 50px;
    margin-left: 100px;
}
/*文字*/
.title{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.header_title{
    font-size: 180px;
    position: sticky;
    top: 20px;
}
.about_us_title{
    font-size: 50px;
    position: sticky;
    top: 50px;
}
.footer_conact{
    margin-top: 20px;
    line-height: 1.6;
}
.conact{
    font-size: 20px;
    line-height: 2;
}
/*圖片*/
.members_img{
    height: 260px;
    width: 200px;
    position: sticky;
    top:0;
}
a:link{color: #0b0b0b;text-decoration:none}
a:active{color: #f5f2f1}
a:visited{color: #f5f2f1}