/*區塊*/
body{
    margin: 0;
    color: #ffffff;
    background-color: rgb(2, 2, 2);
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: -2;
}
.header{
    height: 500px;
    overflow: visible;
}
.nav{
    position: sticky;top: 10px;
    height: 60px;
    padding-right:10%;padding-left: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    z-index: 15;
}
.nav-container{
    justify-content: right;
    display: flex;
    gap: 20px;
}
#about{
    padding: 10%;
    height:300px;
}
#character{
    text-align: right;
    padding: 10%;
}
#world{
    padding: 10%;
}
#news-working{
    margin-top: 150px;margin-bottom: 100px;
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
}
.news-container{
    gap: 70px;
    display: flex;flex-direction: row;
}
.news-div{
    height: 200px;width: 200px;
    border: white solid 1px;
}
footer{
    height: 300px;
    display: flex;
    background: aliceblue;
    color: #0b0b0b;
    gap: 100px;padding-left: 100px;
}
.footer_div{
    margin-top: 50px;
}
/*文字*/
.title{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 900;
}
.news-title{
    margin-bottom: 100px;
}
.footer_conact{
    margin-top: 20px;
    line-height: 1.6;
}
.conact{
    font-size: 20px;
    line-height: 2;
    color: rgb(239, 230, 228);
    font-weight:400;
}
/*圖片*/
.header_img{
    z-index: 1;
    position: sticky;
    top: 80px;
    margin-left: 10%;
    width: 600px;height: 200px;
}
.stage{
    position: absolute;
    top:0;left: 0;
    width: 100%;
    z-index: -1;
}
.actor_img{
    height: 300px;
    position: relative;
    top: 80px;right:60%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* 設定漸層遮罩 */
    filter: blur(3px); /* 模糊效果 */
}
.actor_2_img{
    position: absolute;
    top: 700px;left:50%;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* 設定漸層遮罩 */
    filter: blur(3px); /* 模糊效果 */
    z-index: -1;
}
a:link{color: #0b0b0b;text-decoration:none}
a:active{color: #0b0b0b}
a:visited{color: #0b0b0b}

/*平板設定*/
@media(max-width:1250px){
    /*區塊*/
    .conact{
        font-size: 18px;
    }
}
/*手機設定*/
@media(max-width:500px){
    /*區塊*/
    .header{
        height: 300px;
    }
    .nav{
        font-size: 12pt;
    }
    #about{
        height: 500px;
    }
    footer{
        gap: 50px;padding-left: 50px;
    }
    /*文字*/
    .title{
        font-size: 25px;
    }
    .conact {
        font-size: 15px;
    }
    /*圖片*/
    .header_img{
        margin-left: 10%;
        width: 400px;height: auto;
    }
    .actor_img{
        position: static;
        margin-top: 20px;
    }
}